[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[dev-packages]

[requires]
python_version = "2.7.13"

[packages]
flask = "*"
flask-sqlalchemy = "*"
scidb-py = "*"
numpy = "*"
pymonetdb = "*"
flask-assets = "*"
jsmin = "*"
cssmin = "*"
flask-bower = "*"
