#super_network line {
	/*stroke: rgb(180, 180, 180);*/
	stroke: rgb(200, 200, 200);
	stroke-width: 1.5;
}

#super_network a > circle {
	/*stroke: rgb(80, 80, 80);*/
	stroke: rgb(125, 125, 125);
	/*fill: rgb(185, 185, 185);*/
	fill: rgb(240, 240, 240);
	stroke-width: 1;
	cursor: pointer;
}

/* Bayesian network */
#rgn a:hover {
	font-weight: bold;
	/* no underline */
	text-decoration: none;
}


/* rectangle for zoom. Only includes decorations that are not exported as .svg file */
#rgn rect {
	cursor: grab;
	stroke: rgb(180,180,180);
	/* rounded corner */
	rx: 5;
}

#rgn rect:active {
	cursor: grabbing;
}


/* Tooltips */
i.fa.fa-question-circle {
	color: black;
	cursor: pointer;
}

.tooltip-inner {
	text-align: left;
	max-width: 350px;
	background: rgb(235,235,235);
	color: black;
	/*stroke: black;*/
	/*border-width: 1;*/
	border: solid 1px #ccc;
}
