<!DOCTYPE html>
<html lang="en">
<head>
<title>STARNET gene expression browser</title>

<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous"> -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->


<!-- project CSS style -->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<a href="/">search</a>
<a href="/about">about</a>
<a href="/download">download</a>

<div class="container">
	<!-- <h1>Main</h1> -->
	{% block content%}{% endblock %}
</div>

{% block script %}{% endblock %}



</body>
</html>