{% extends 'base.html' %}

{% block content %}

<h1 style="display: inline-block;">eQTL analysis</h1>

<i class="fa fa-question-circle" aria-hidden="true"
	data-toggle="tooltip" data-placement="right"
	data-html="true"
	title="
	<h6>Genome-wide significant expression quantitative trait loci (eQTL) in cardiometabolic tissues</h6>
	<p>Only shows eQTL involving your list of single nucleotide polymorphisms (SNP) IDs.</p>
	<p>The co-expression module <b>supernetork</b> is colored based on identified eQTL. You can click nodes to view eQTL in each module. Click on any whitespace to reset the filter.</p>
	">
</i>


<div id="super_network"></div>

<div id="eqtl_table_div">
	<table id="eqtl_table" class="display"></table>
</div>

{% endblock %}

{% block script %}

<script type="text/javascript">
	// Store SNP query
	// tojson avoids escape characters from Jinja
	var snps = JSON.parse({{ snps | tojson }});
	var eqtl = JSON.parse({{ eqtl | tojson }});
	var eqtl_by_module = JSON.parse({{ eqtl_by_module | tojson }})
</script>


<script src="{{ url_for('static', filename='js/table.js') }}"></script>
<script src="{{ url_for('static', filename='js/supernetw.js') }}"></script>

<script src="{{ url_for('static', filename='js/eqtl-multi.js') }}"></script>

{% endblock %}

