{% extends 'base.html' %}


{% block content %}

<h1>{{ensembl}}</h1>

<div class="card">
  <div class="card-header">
    <b>HGNC symbol:</b> {{symbol}}
  </div>
  <div class="card-body">
    <!-- <h5 class="card-title">Special title treatment</h5> -->
    <p class="card-text"><b>Description:</b> {{description}}</p>
    <p class="card-text"><b>Type:</b> {{gene_biotype}}</p>
    <p class="card-text"><b>Genomic coordinate (hg38):</b> chr{{chromosome}}: {{start_position}} - {{end_position}}</p>
  </div>
</div>

<br>

<h2>Absolute expression</h2>
<!-- Boxplot to be populated by plotly.js -->
<div id='cpm_boxplot'></div>

<h2>Co-expression modules</h2>
<div id='module_links'></div>
<div id='module_barplot'></div>

<h2>Differential expression</h2>

<table id='deg_table' class='display'></table>

<br>

<h2>Genetic variants (eQTLs)</h2>

<table id='eqtl_table' class='display'></table>

{% endblock %}


{% block script %}

<!-- Use assets for minimized code -->
{% assets 'js_gene' %}
<!-- <script type="text/javascript" src="{{ ASSET_URL }}"></script> -->
{% endassets %}

<!-- Use source code for development -->
<script src="{{ url_for('static', filename='js/table.js') }}"></script>
<script src="{{ url_for('static', filename='js/gene.js') }}"></script>


<!-- Set variables for client-side javascript from flask using Jinja -->
<script type="text/javascript">

	// User input for page, passed by Jinja variables
	var input = {
		gene: '{{ensembl}}'
	};
</script>

{% endblock %}