{% extends 'base.html' %}

{% block content %}

<h1>Gene page for: {{symbol}}</h1>
Description of gene

<h2>Absolute expression</h2>
<!-- Boxplot to be populated by plotly.js -->
<div id='cpm_boxplot'></div>

<h2>Co-expression modules</h2>
<div id='module_links'></div>
<div id='module_barplot'></div>

<h2>Differential expression</h2>

<div>
	<table id='deg_table' class='display'></table>
</div>

<h2>Variant associations (eQTL)</h2>

{% endblock %}

{% block script %}

<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!-- DataTables -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<!-- colReorder extension -->
<script src="https://cdn.datatables.net/colreorder/1.5.1/js/dataTables.colReorder.min.js"></script>

<!-- Code for this page-->
<script type="text/javascript" src="{{ url_for('static', filename='js/gene.js') }}"></script>

<!-- Set variables for client-side javascript from flask using Jinja -->
<script type="text/javascript">

	// User input for page, passed by Jinja variables
	var input = {
		gene: '{{symbol}}'
	};
</script>

{% endblock %}