{% extends 'base.html' %}

{% block content %}

<br>

<div class="center-nav">
	<ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
				Single
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
				Multiple
			</a>
		</li>
	</ul>
</div>
<div class="tab-content" id="pills-tabContent">
	<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

		<!-- Single gene/SNP query -->
		<div class="ui-widget">
			<form action="/search" method="get">
				<div class="input-group">
					<input id="search_input" type="text" name="gene_snp_query" class="form-control" aria-label="Text input with segmented dropdown button">
					<div class="input-group-append">
						<select id="search_select" class="custom-select" name="type" onchange="setQueryType(this);">
							<option selected>Gene</option>
							<option>SNP</option>
						</select>
						<button class="btn btn-outline-secondary" type="submit">
							<i class="fa fa-search"></i>
						</button>
					</div>
				</div>
			</form>
		</div>

	</div>
	<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
		<div id="search_multi" style="text-align: center;">
			<!-- action/routing is set by .js code based on selected option -->
			<form id="search_multi_form" action="/" method="post">
				<!-- <input type="text" name="gene_snp_list" style="line-height: 10em;"> -->
				<textarea name="gene_snp_list" cols="16" rows="5"></textarea>
				<br>
				<select id="search_multi_select" name="type">
					<option>Gene</option>
					<option>SNP</option>
				</select>
				<input type="submit" name="">
			</form>
		</div>
	</div>
</div>


<hr>

<div>
	<!-- Tooltip with description of supernetwork -->
	<i class="fa fa-question-circle" aria-hidden="true"
		style="float: left"
		data-toggle="tooltip" data-placement="right"
		data-html="true"
		title="
		<h6>Eigengene supernetork: network of networks for navigating co-expression modules</h6>
		<p>Each <b>node</b> corresponds to a co-expression module inferred based on RNA-seq data from Coronary Artery Disease (CAD) patients. Multiple tissues with relevance to cardiometabolic disorders are included in this analysis. Modules containing more than 5% transcripts from heterogenous tissues are termed 'cross-tissue'. Modules are refferred to by integer IDs 1-224.</p>
		<p>The <b>edges</b> are directed interactions from a Bayesian network inferred from the 'eigengenes' of the co-expression modules.</p>
		<p>The supernework <b>layout</b> is estimated using the Sugiyama layout algorithm. Overall, it clusters co-expression modules according to the tissues.</p>
		">
	</i>

	<span style="float: right;">
		Annotation: <select id="annot_opts"></select>
	</span>
</div>

<div id='super_network' style="text-align: center;"></div>

{% endblock %}

{% block script %}

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/supernetw.js') }}"></script>

{% endblock %}
