{% extends 'base.html' %}

{% block content %}

<form action="/search" method="get">
  <input type="text" name="q" placeholder="Search for genes...">
  <!-- <button type="button">go</button> -->
  <select name="type">
    <option>Gene</option>
    <option>SNP</option>
  </select>
  <input type="submit" name="">
</form>

<div id='super_network'></div>

{% endblock %}

{% block script %}

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/supernetw.js') }}"></script>

{% endblock %}