{% extends 'base.html' %}

{% block content %}

<br>
<br>
<div style="text-align: center;">
	<form action="/search" method="get">
	  <input type="text" name="q" placeholder="Search for genes...">
	  <!-- <button type="button">go</button> -->
	  <select name="type">
	    <option>Gene</option>
	    <option>SNP</option>
	  </select>
	  <input type="submit" name="">
	</form>

</div>


<div style="text-align: right;">
	<!-- <select id="annot_opts" onchange="setFeature(this);"></select> -->
	Annotation: <select id="annot_opts"></select>
</div>

<div id='super_network' style="text-align: center;"></div>

{% endblock %}

{% block script %}

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/supernetw.js') }}"></script>

{% endblock %}