{% extends 'base.html' %}

{% block content %}

<h1>Co-expression module {{ mod_id }}</h1>

<!-- Two equal Bootstrap columns -->
<div class='row'>
	<div class='col-sm'>
		<h2>Tissues</h2>
		<div id="tissue_pie"></div>
	</div>

	<div class='col-sm'>
		<h2>Phenotype associations</h2>
		<div id="pheno_assoc"></div>
	</div>

</div>


<!-- for testing -->
<!-- <div id="myDiv"></div> -->

<h2>Regulatory gene network</h2>
<!-- <div id="slider1"></div> -->

<!-- <a href=""></a> -->

<div id="rgn_slider" style="display: inline-block"></div>

<button type="button" class="btn btn-light" onclick="exportNetworkSVG()">SVG</button>

<a href="/static/data/rgn/{{mod_id}}.csv">
	<button type="button" class="btn btn-light">CSV</button>
</a>

<div id="rgn"></div>

<h2>Key driver analysis</h2>
<table id='kda_table' class='display'></table>

<h2>Transcripts</h2>
<table id='mod_table' class='display'></table>

<br>

<h2>Gene Ontology enrichment</h2>

<!-- Tab navigation for GO tables -->
<nav>
 	<div class="nav nav-tabs" id="nav-tab" role="tablist">
		<a class="nav-item nav-link active" id="nav-go_bp-tab" data-toggle="tab" href="#nav-go_bp" role="tab" aria-controls="nav-go_bp" aria-selected="true">Biological processes</a>
		<a class="nav-item nav-link" id="nav-go_cc-tab" data-toggle="tab" href="#nav-go_cc" role="tab" aria-controls="nav-go_cc" aria-selected="false">Cellular components</a>
		<a class="nav-item nav-link" id="nav-go_mf-tab" data-toggle="tab" href="#nav-go_mf" role="tab" aria-controls="nav-go_mf" aria-selected="false">Molecular function</a>
 	</div>
</nav>

<!-- Content (tables) for Gene Ontology enrichment -->
<div class="tab-content" id="nav-tabContent">
	<div class="tab-pane fade show active" id="nav-go_bp" role="tabpanel" aria-labelledby="nav-go_bp-tab">
		<table id="go_bp_table" class="display"></table>
	</div>
	<div class="tab-pane fade" id="nav-go_cc" role="tabpanel" aria-labelledby="nav-go_cc-tab">
		<table id="go_cc_table" class="display"></table>
	</div>
	<div class="tab-pane fade" id="nav-go_mf" role="tabpanel" aria-labelledby="nav-go_mf-tab">
		<table id="go_mf_table" class="display"></table>
	</div>
</div>

<br>


{% endblock %}

{% block script %}

<script src="{{ url_for('static', filename='js/table.js') }}"></script>
<script src="{{ url_for('static', filename='js/module.js') }}"></script>

<script type="text/javascript">

	// User input for page, passed by Jinja variables
	var input = {
		mod_id: '{{mod_id}}'
	};
</script>

{% endblock %}
